@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Bebas+Neue&display=swap");

$font-heading: "Bebas Neue", cursive;
$font-text: "Josefin Sans", sans-serif;

$primary-bg-color: #11111b;
$secondary-bg-color: #16213e;
$tertiary-bg-color: #f9f9f9;

$primary-txt-color: #fff;
$secondary-txt-color: #e94560;
$tertiary-txt-color: #2a2a2a;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (min-width: 90em) {
    font-size: 75%;
  }

  @media only screen and (max-width: 40.625em) {
    font-size: 58%;
  }
}

.diff-font {
  font-family: $font-heading;
  letter-spacing: 2px;
}

body {
  line-height: 1.4;
  font-family: $font-text;
  font-size: 1.6rem;
  font-weight: 400;
  color: $primary-txt-color;
  background-color: $primary-bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

button {
  color: inherit;
  font-size: inherit;
}

a,
input,
button {
  font-family: $font-text;
}

@mixin autoMargin($marTopBottom) {
  margin: $marTopBottom auto;
}

@mixin statsFlex() {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}

@mixin statsIcon($icon-height) {
  width: 2rem;
  height: $icon-height;
  fill: $secondary-txt-color;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: $primary-bg-color;
  overflow: hidden;
  display: none;
  flex-direction: column;
  row-gap: 5rem;
  justify-content: center;
  align-items: center;
}

.loader h5 {
  font-size: 2rem;
  text-transform: lowercase;
  margin-left: 1.5rem;
  letter-spacing: 2px;
}

.spinner {
  width: 7.5rem;
  height: 7.5rem;
  border: 5px solid $secondary-bg-color;
  border-top-color: $secondary-txt-color;
  border-radius: 50%;
  animation: spin 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  width: 90%;
  @include autoMargin(0);
}

.header {
  padding: 3rem 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 38.125em) {
    flex-direction: column;
    row-gap: 3rem;
  }

  &__title {
    font-size: 4rem;
  }
}

.movie__form {
  display: flex;

  & > * {
    outline: none;
    border: 1px solid #fff;
  }

  &-input {
    color: $tertiary-txt-color;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    width: 30rem;
    border-radius: 50px 0 0 50px;
  }

  &-btn {
    padding: 0.5rem 2rem;
    cursor: pointer;
    border-left: none;
    border-radius: 0 50px 50px 0;
    background-color: #fff;

    &--icon {
      width: 2rem;
      height: 2rem;
      fill: $primary-bg-color;
    }
  }
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 6rem 3rem;
  justify-items: center;
  @include autoMargin((15vh));
}

.movie {
  cursor: pointer;
  height: fit-content;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  box-shadow: -2px 2px 20px rgba($color: #000, $alpha: 0.2);
  transition: transform 0.3s ease-out;
  margin: 0.5rem;

  @media only screen and (max-width: 38.125em) {
    width: 100% !important;
  }

  &:hover {
    transform: scale(1.03);
  }

  &__img {
    display: block;
    height: 400px;
    object-fit: cover;
    object-position: top center;
  }

  &__genre {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__desc {
    color: $primary-txt-color;
    background-color: $secondary-bg-color;
    padding: 2rem;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid $secondary-txt-color;

    &--title {
      color: $secondary-txt-color;
      font-size: 2.4rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }

    &--details {
      display: grid;
      grid-template-columns: 1.5fr 0.5fr;
      align-items: center;
      font-size: 1.8rem;
      row-gap: 1.5rem;

      @media only screen and (max-width: 38.125em) {
        font-size: 1.4rem;
        grid-template-columns: 1.75fr 0.25fr;
      }

      & > *:nth-child(odd) {
        justify-self: flex-start;
      }

      & > *:nth-child(even) {
        justify-self: flex-end;
      }
    }
  }
}

.movie-section {
  min-height: 100vh;
  padding: 5vh 0 10vh;
}

.stats {
  &__genres {
    margin-bottom: 2rem;
  }

  &__row {
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }

  &__rating {
    @include statsFlex();

    &--icon {
      @include statsIcon(2.5rem);
    }

    &--score {
      font-size: 1.8rem;
    }
  }

  &__runtime {
    @include statsFlex();

    &--icon {
      @include statsIcon(2.5rem);
    }
  }

  &__release {
    @include statsFlex();

    &--icon {
      @include statsIcon(2rem);
    }
  }
}

.title {
  margin: 3rem 0;

  &__text {
    font-size: 4.2rem;
    text-transform: uppercase;

    @media only screen and (max-width: 38.125em) {
      font-size: 3rem;
    }
  }

  &__tagline {
    font-size: 2.2rem;
    color: $secondary-txt-color;

    @media only screen and (max-width: 38.125em) {
      font-size: 1.8rem;
    }
  }
}

.overview {
  font-size: 2rem;
  max-width: 50rem;

  @media only screen and (max-width: 38.125em) {
    font-size: initial;
    max-width: 100%;
    width: 100%;
  }
}

.links {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  column-gap: 4rem;

  .btn-props {
    display: block;
    width: 20rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 50px;
    transition: transform 0.5s, box-shadow 0.5s ease-out;
  }

  &__btn--trailer {
    background: none;
    cursor: pointer;
    border: 3px solid $secondary-txt-color;
    @extend .btn-props;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 0 15px -1px $secondary-txt-color,
        0 0 12px -1px $secondary-txt-color inset;
    }
  }

  &__btn--website {
    @extend .btn-props;
    border: 3px solid #00b4e6;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 0 15px -1px #00b4e6, 0 0 12px -1px #00b4e6 inset;
    }
  }

  &__btn--icon {
    fill: currentColor;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    margin-bottom: 4px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-out;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  &__overlay {
    cursor: url("../close.svg"), auto;
    position: absolute;
    background: rgba($color: #000, $alpha: 0.7);
    width: 100%;
    height: 100%;
  }

  &__body {
    z-index: 99;
  }
}

.real-content {
  display: none;
}

.content-placeholder {
  max-width: 60rem;
  width: 100%;
  background-color: transparent;
}

@keyframes fade {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.6;
  }
}

.line {
  width: 100%;
  height: 2rem;
  background-color: $secondary-txt-color;
  border-radius: 10px;
  animation: fade 0.85s infinite ease-out;
}

.line.dull {
  background-color: rgba($color: $secondary-txt-color, $alpha: 0.6);
}

.small {
  width: 40%;
  margin-bottom: 2rem;
}

.medium {
  width: 60%;
  margin-bottom: 2rem;
}

.large + .medium {
  margin-bottom: 4rem;
}

.large {
  margin: 4rem 0 2rem;
}

#videoPlayer {
  @media only screen and (max-width: 38.125em) {
    width: 100%;
    height: auto;
  }
}

.footer {
  visibility: hidden;
  height: 10vh;
  background-color: $secondary-bg-color;
  padding: 7rem 0;
}

.pagination {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6rem;

  @media only screen and (max-width: 38.125em) {
    column-gap: 3.5rem;
  }

  &__btn {
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: $primary-txt-color;
    background-color: $secondary-txt-color;
    padding: 1.2rem 4rem 1rem;

    @media only screen and (max-width: 38.125em) {
      padding: 1rem 3rem 0.8rem;
    }
  }

  &__number {
    font-size: 4rem;
    font-weight: bold;
  }
}
